@page "/scattergories/{Id}"
@inherits GamePage


<h1>GetGame</h1>

<div>
    <h4>Scattergories</h4>
    <hr/>

    <div>
        <div>
            <h1>Current Letter</h1>
            <h2>@Row.CurrentLetter</h2>
        </div>
        <div>
                <table>
                    <thead>
                        <tr>
                            @foreach (var cattegories in @Row.Categories)
                            {
                                <th>@cattegories.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @foreach (var cattegories in @Row.Categories)
                        {
                            <td><input name="@cattegories.Name" placeholder="Enter your word here" 
                                @oninput='(e) => ValidateField(e.Value.ToString() ?? "", cattegories)'/></td>
                        }
                        </tr>
                    </tbody>
                </table>
                <div>
                </div>
        </div>
    </div>

</div>
