@page "/scattergories/{Id}"
@inherits GamePage


<h1>GetGame</h1>

<div>
    <h4>Scattergories</h4>
    <hr/>

    <div>
        <div>
            <h1>@Row.CurrentLetter</h1>
        </div>
    </div>
    @if (Row.IsHostCheckingPhase)
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Joueur
                    </th>
                    @foreach (var category in Row.Categories)
                    {
                        <th>
                            @category.Name
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Row.Players)
                {
                    <tr>
                        <th>
                            @player.User.Nickname
                        </th>
                        @foreach (var answer in player.Answers)
                        {
                            <th>
                                <label>
                                    @answer.Text
                                </label>
                                @if (!answer.IsChecked)
                                {
                                    <button name="approuve word @answer.Text" onclick="">✔</button>
                                    <button name="disapprouve word @answer.Text" onclick="">✘</button>
                                }
                            </th>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        
    }
</div>
