@page "/scattergories/{Id}"
@inherits GamePage


<h1>GetGame</h1>

<div>
    <h4>Scattergories</h4>
    <hr/>

    <div>
        <div>
            <h1>Current Letter</h1>
            <h2>@Row.CurrentLetter</h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            Your answers
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        List<string> inputs = new List<string>(new string[Row.Categories.Count]);
                    }
                    @foreach (var category in Row.Categories)
                    {
                        
                        <tr>
                            <td>@category.Name</td>
                            <input type="text" name="input_@category.Name" placeholder="@category.Name" @bind="inputs[i]"/>
                        </tr>
                        ++i;
                    }
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" @onclick="() => sendWords(inputs, Row.Categories)">Envoyer les mots</button>
        </div>
    </div>

    <div>
        <h4>Ranking</h4>
        <ol>
            @foreach(var player in FinalRanking)
            {
                <li>@player.User.Nickname - @player.Score</li>
            }
        </ol>
    </div>

</div>
