@page "/lobby/{Id}"

<PageTitle>Detail du lobby</PageTitle>

<div>
    @if (@Lobby != null) {
        <div>
            <h1>@Lobby.Id</h1>
            <p>Started : @Lobby.Started</p>
            <p>Hash Password: @Lobby.Password</p>
            <p>Creator : @Lobby.Creator.Nickname</p>
        </div>
        <div>
            <h2>Participants</h2>
            <ul>
                @foreach (var user in Lobby.Users)
                {
                    <li>@user.Nickname</li>
                }
            </ul>
        </div>
        <div>
            @if (Lobby.Game != null) {
                <p>@Lobby.Game.Name</p>
            }
        </div>
    } else {
        <p>Loading...</p>
    }
</div>