@page "/lobby"
@inherits AuthenticatedPage
@using PatteDoie.Enums;
@using PatteDoie.Extensions;

<PageTitle>Lobbies</PageTitle>

<h1>Index</h1>

<p>
    <a href="/lobby/create">Create New</a>
</p>
<InputSelect @bind-Value="Type" @bind-Value:after="SearchLobbies">
    @foreach (var type in Types)
    {
        <option value="@type">@GetLobbyTypeDescription(@type)</option>
    }
</InputSelect>
<InputSelect @bind-Value="GameType" @bind-Value:after="SearchLobbies">
    @foreach (Enum type in Enum.GetValues(typeof(FilterGameType)))
    {
        <option value="@type">@type.GetDescription()</option>
    }
</InputSelect>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Password
            </th>
            <th>
                Started
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Items) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Game.Name
            </td>
            <td>
                @item.Started
            </td>
            <td>
                <a href="/lobby/edit">Edit</a> |
                <a href="/lobby/@item.Id">Details</a> |
                <a href="/lobby/delete">Delete</a> |
                <a href="/lobby/join/@item.Id">Rejoindre le lobby</a>
            </td>
        </tr>
    }
    </tbody>
</table>
