@page "/lobby/{Id}"
@inherits AuthenticatedPage

<PageTitle>Detail du lobby</PageTitle>

<div id="details">
    @if (@Lobby != null) {
        <h1>@Lobby.LobbyName</h1>
        <div class="information">
            @if (Lobby.Game != null)
            {
                <p>Game : @Lobby.Game.Name</p>
            }
        </div>
        <div class="information">
            <p>Started : @Lobby.Started</p>
            <p>Hash Password: @Lobby.Password</p>
            <p>Creator : @Lobby.Creator.Nickname</p>
        </div>
        <div class="information">
            <h2>Participants</h2>
            <ul>
                @foreach (var user in Lobby.Users)
                {
                    <li>@user.Nickname</li>
                }
            </ul>
        </div>
        @if (IsCreator) 
        {
            <div id="start">
                <input type="button" @onclick="StartGame" value="Start" class="btn btn-danger" />
            </div>
        }
    } else {
        <p>Loading...</p>
    }
</div>