@page "/lobby"
@inherits AuthenticatedPage
@using PatteDoie.Enums;
@using PatteDoie.Extensions;

<PageTitle>Lobbies</PageTitle>

<h1>Index</h1>

<div>
    <a href="/lobby/create?GameName=@GameType.SpeedTyping.GetDescription()">Create new Speedtyping game</a>
</div>
<div>
    <a href="/lobby/create?GameName=@GameType.Scattergories.GetDescription()">Create new Scattergories game</a>
</div>
<InputSelect @bind-Value="Type" @bind-Value:after="SearchLobbies">
    @foreach (var type in Types)
    {
        <option value="@type">@GetLobbyTypeDescription(@type)</option>
    }
</InputSelect>
<InputSelect @bind-Value="GameTypeValue" @bind-Value:after="SearchLobbies">
    @foreach (Enum type in Enum.GetValues(typeof(FilterGameType)))
    {
        <option value="@type">@type.GetDescription()</option>
    }
</InputSelect>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Password
            </th>
            <th>
                Game
            </th>
            <th>
                Started
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Items) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Game.Name
            </td>
            <td>
                @item.Started
            </td>
            <td>
                @if (item.Started) {
                    <a href="/@item.Game.Name/@GameUUIDFromLobbies.GetValueOrDefault(item)">Join game</a>
                } 
                else {
                    <a href="/lobby/@item.Id">Details</a> <span>|</span>
                    <a href="/lobby/join/@item.Id">Join lobby</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
