@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@page "/speedtyping/{Id}"
@inherits GamePage


<PageTitle>SpeedTyping</PageTitle>

<h1>GetGame</h1>

<div>
    <h4>Speed Typing</h4>
    <hr />


    <div>
        <div class="clock">
            <h1>@_secondsToRun</h1>
        </div>
        <input type="text" id="inputText" name="inputText" @bind-value="@inputValue" disabled="@IsInputDisabled"
        @oninput='(e) => CheckTextSpace(e.Value?.ToString() ?? "")'/>
        <script>
            function hasSpace() {
            var text = document.getElementById("inputText")
            if (text.hasSpace) {
            console.log(text.trim())
            }
            }
        </script>
        <hr />
        @foreach (string Word in Row?.Words ?? [])
        {
            @if (Array.IndexOf(Row.Words, Word) == WordIndexToDisplay) {
                <span id="wordToDisplay"> @Word &nbsp;</span>
            } else {
                <span> @Word &nbsp;</span>
            }
        }
    </div>

    <div>
        @foreach(var playerRow in _players)
        {
            <label for="@playerRow.User.Nickname">@playerRow.User.Nickname</label>
            <progress id="@playerRow.User.Nickname" value="@playerRow.Score" max="10"> 
                @(playerRow.Score / 10 * 100)
            </progress>
            <hr />
        }
    </div>
    <div>
        @{
            int i = 1;
        }
        @foreach (var player in FinalRanking)
        {
            <p>@i - @player.User.Nickname: @player.Score</p>
            ++i;
            <hr />
        }
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>